[Desktop Entry]
Type=Application
Name=ExPiliplus
Comment=ExPiliplus, an unofficial PiliPlus build developed in Flutter
Comment[zh_CN]=基于 PiliPlus 的非官方维护版
Exec=expiliplus
Icon=expiliplus
Terminal=false
StartupWMClass=io.github.sanshanhyo.expiliplus
Categories=Video;AudioVideo;Player;
