Package: expiliplus
Version: version_need_change
Maintainer: SanshanHyO <imhuskyzhang@gmail.com>
Original-Maintainer: bggRGjQaUbCoE <githubaccount56556@proton.me>
Section: x11
Priority: optional
Architecture: amd64
Essential: no
Installed-Size: size_need_change
Description: unofficial ExPiliplus build based on PiliPlus
Homepage: https://github.com/sanshanhyo/PiliPlus
Depends: libgtk-3-0t64,
         libmpv2,
         gir1.2-ayatanaappindicator3-0.1,
         libayatana-appindicator3-1

